<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dershane_Otomasyonu.Properties.Settings.dershaneConnectionString"
            connectionString="Data Source=MERIC-DREAM-PC\SQLEXPRESS01;Initial Catalog=dershane;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dershane_Otomasyonu.Properties.Settings.dershaneConnectionString1"
            connectionString="Data Source=WIN8\SQLEXPRESS;Initial Catalog=dershane;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>